@charset "utf-8";

body {
    color: black;
    font-family: Inconsolata;
    background-color: lightgray;
}

.horizontal-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*.left-box, .right-box {
    display: flex;
    flex-direction: row;
}*/